.choice-container { /* answers (choices) */
    display: flex; /* for easy manage */
    margin-bottom: 0.5rem; 
    width: 100%;
    font-size: 1.8rem; /* text size */
    border: 0.1rem solid rgb(86, 165, 235, 0.25); /* bordering */
    background-color: white; 
  }
  
  .choice-container:hover { /* when hovering */
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5); /* shadow under the choice */
    transform: translateY(-0.1rem); /* moves up */
    transition: transform 150ms;/* moving up time */
  }
  
  .choice-prefix { /*A, B, C, D */
    padding: 1.5rem 2.5rem; /* paddings 1.5 for bottom and top, 2.5 for sides */
    background-color: #56a5eb;
    color: white;
  }
  
  .choice-text { /* text of choices */
    padding: 1.5rem; /* padding around */
    width: 100%;
  }
  
  .correct { /* when answer is correct will be green (when wee add to class 'ClassToApply' into div) */
    background-color: #00f138;
  }
  
  .incorrect {/*  when answer is correct will be red (when wee add to class 'ClassToApply' into div) */
    background-color: #e00016;
  }
  
  /* HUD */
  
  #hud { /* score and question number style */
    display: flex; 
    justify-content: space-between; /* space between them */
  }
  
  .hud-prefix { /* text style */
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    height: 4.1rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
  }
  
  /* LOADER */
  #loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    margin-top: 31%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }